.config/nvim/plugin/packer_compiled.lua
.config/nvim/spell/en.utf-8.add.spl
.config/nvim/spell/en.utf-8.add
xdg_config/.config/nvim/plugin/packer_compiled.lua
xdg_config/.config/vifm/vifminfo.json

# dbx test 3rd plugins
xdg_config/.config/nvim_plugins/dbx/misc

# lnav is annoying
.lnav/

# lnav is annoying
.luarc.json
